{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <style>
    p
    {
    line-height: 40px;
    }
</style>

  <title>King Of Glory</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />




  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">


</head>

<body>
  <div class="top_container sub_pages">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/logo.png' %}" alt="">
            <span>
              King Of Glory
            </span>




          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="about.html"> About </a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link" href="teacher.html"> Library </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="vehicle.html"> Anthem</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>

              </ul>

            </div>
        </nav>
      </div>
    </header>

  </div>
  <!-- end header section -->

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        About School
      </h2>
      <p class="text-center">
        Welcome to King of Glory Preparatory School - a new and renowned institution that is dedicated to providing high-quality education for young children. Our school is designed to provide a nurturing environment for children from the Crèche stage all the way through to primary school.
At King of Glory Preparatory School, we believe that education is the foundation of a successful life. Therefore, our mission is to provide an all-round education that is tailored to each child's individual needs, abilities, and interests. We strive to foster an environment where every child feels safe, happy, and eager to learn.
At King of Glory Preparatory School, we understand that every child is unique, which is why we offer a wide range of programs to cater to different learning styles. We have a team of experienced and dedicated teachers who are passionate about helping each child reach their full potential.
We also understand that learning does not only happen in the classroom, which is why we offer a range of extracurricular activities. These activities include sports, music, dance, and drama, which provide opportunities for children to explore their interests and talents. Our goal is to ensure that every child has a well-rounded education and develops a love for learning that will last a lifetime.
At King of Glory Preparatory School, we place a strong emphasis on creating a strong partnership between parents and teachers. We believe that parents are the primary educators of their children, and we work closely with parents to ensure that each child's educational journey is supported at home and at school.
In conclusion, King of Glory Preparatory School is a new and renowned institution that is committed to providing high-quality education for young children. We believe that every child has the potential to succeed, and we are dedicated to helping each child reach their full potential. We look forward to welcoming you and your child to our school community.


      </p>
      <div class="about_img-box ">
        <img src="{% static 'images/kids.jpg' %}" alt="" class="img-fluid w-100">
      </div>
      <div class="d-flex justify-content-center mt-5">

          <img src="{% static 'images/right-arrow.png' %}" alt="">
        </a>
      </div>
    </div>
  </section>


  <!-- about section -->





  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2023 Powered by phevabTek
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!-- progreesbar script -->

  </script>

</body>

</html>